<div class="partial-contact-us">
    <div class="col-12 contact-us-content">
        <div class="row">
            <div class="col-lg-6 content-left">
                <img src="image/img-contactus.png" alt="">
                <ul class="list-unstyled contact-info">
                    <li><img src="image/icons/phone.svg" alt=""> +84 376 333 536</li>
                    <li><img src="image/icons/email.svg" alt=""> neyul.marketing@gmail.com</li>
                    <li><img src="image/icons/location.svg" alt=""> 120 Thích Quảng Đức, Phường 4, Phú Nhuận, Tp. HCM
                    </li>
                </ul>
                <p class="contact-us-social">
                    Live chat on social!
                    <img src="image//icons/facebook-color.svg">
                    <img src="image//icons/zalo-color.png">
                </p>
            </div>
            <div class="col-lg-6 content-right">
                <h3>Liên hệ với chúng tôi</h3>
                <p>Nói chúng tôi nghe bất cứ vấn đề nào của bạn</p>
                <input type="text" class="form-control" placeholder="Họ và tên">
                <input type="text" class="form-control" placeholder="Email hoặc số điện thoại">
                <input type="text" class="form-control"
                    placeholder="Doanh nghiệp của tôi cần tư vấn về hình ảnh thương hiệu">
                <button class="btn btn-secondary">Gửi</button>
            </div>
        </div>
    </div>
</div>