<div class="site-footer">
    <div class="inner first dark custom-contact-footer">
        <div class="row">
            <div class="col-md-12 col-lg-4">
                <div class="widget">
                    <img src="image/logo-footer.png" class="custom-img-footer" />
                    <p class="darkmode-text">Nurturing Expansion, Your Unstoppable Lead</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-2 pl-lg-5">
                <div class="widget">
                    <h3 class="heading darkmode-text">Menu</h3>
                    <ul class="links list-unstyled">
                        <li><a href="#" class="darkmode-text">Giới thiệu</a></li>
                        <li><a href="#" class="darkmode-text">Dịch vụ</a></li>
                        <li><a href="#" class="darkmode-text">Shop</a></li>
                        <li><a href="#" class="darkmode-text">Tin tức</a></li>
                        <li><a href="#" class="darkmode-text">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <div class="widget">
                    <h3 class="heading darkmode-text">Liên hệ</h3>
                    <ul class="links list-unstyled">
                        <li><span class="darkmode-text">0389 741 791</span></li>
                        <li><span class="darkmode-text">support@neyul.com</span></li>
                        <li><span class="darkmode-text">120 Thích Quảng Đức, Phường 4, Q. Phú Nhuận,
                                <br>Thành phố Hồ Chí Minh</span></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12 col-lg-2">
                <div class="widget">
                    <div class="widget">
                        <h3 class="heading darkmode-text">Liên kết</h3>
                        <ul class="list-unstyled social">
                            <li><a href="#"><img src="image/icons/facebook.svg" alt="facebook"></a></li>
                            <li><a href="#"><img src="image/icons/instagram.svg" alt="instagram"></a></li>
                            <li><a href="#"><img src="image/icons/google.svg" alt="google"></a></li>
                            <li><a href="#"><img src="image/icons/linked.svg" alt="linked"></a></li>
                            <li><a href="#"><img src="image/icons/bee.svg" alt="bee"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="inner dark custom-footer-bottom">
        <div class="mx-auto">
            <span class="darkmode-text">Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> by Neyul Marketing
            </span>
        </div>
    </div>
</div>