<section
  class="d-flex flex-lg-row flex-column justify-content-between align-items-center py-5 px-md-5 px-3 gap-4"
>
  <div class="w-lg-40 w-full mb-lg-0 mb-3">
    <h1 class="h1 text-lg-left text-center fw-bold mb-2">
      <strong class="text-orange">Tư vấn</strong>
      marketing
    </h1>

    <p class="p2 text-justify fw-medium">
      Bạn đang bắt đầu triển khai marketing nhưng vẫn đang loay hoay chưa biết
      bắt đầu từ đâu? Và cái bạn đang cần là một bức tranh tổng quan cho quá
      trình marketing?
    </p>
  </div>

  <div class="w-lg-50 w-full">
    <img
      class="w-full object-cover ratio"
      src="/image/tu-van-maketing/img1.png"
      alt="Tư vấn marketing"
      title="Tư vấn marketing"
    />
  </div>
</section>

<section
  class="d-flex justify-content-between align-items-center py-5 px-md-5 px-3 gap-4"
>
  <div class="w-lg-50 w-full">
    <h2 class="p1 text-lg-left text-center fw-bold">
      Marketing là một quá trình cần sự đầu tư trong dài hạn và đặc biệt quan
      trọng ở những bước đi đầu tiên!!
    </h2>

    <p class="p4 text-desc text-lg-justify text-center fw-medium">
      Đa số doanh nghiệp vừa và nhỏ thường gặp các vấn đề như: Thiếu định hướng
      và không biết bắt đầu từ đâu, cũng như không nhận ra những hạng mục công
      việc quan trọng và tầm quan trọng của chúng như thế nào? Đặc biệt, nếu
      những bước đi đầu tiên không chính xác, có thể gây khó khăn không thể khắc
      phục hoặc gây thiệt hại nặng nề cho doanh nghiệp sau này.
    </p>

    <div class="d-lg-none d-block w-full my-4">
      <img
        class="w-full"
        src="/image/tu-van-maketing/img2-table.png"
        alt="Tư vấn marketing"
        title="Tư vấn marketing"
      />
    </div>

    <div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn phân tích thị trường</p>
          <span class="b2 text-desc fw-semiBold">5%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 20%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn tối ưu sản phẩm dịch vụ</p>
          <span class="b2 text-desc fw-semiBold">5%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 20%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">
            Tư vấn khách hàng và nhóm khách hàng mục tiêu
          </p>
          <span class="b2 text-desc fw-semiBold">5%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 20%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">
            Tư vấn phương pháp tiếp cận từng nhóm khách hàng
          </p>
          <span class="b2 text-desc fw-semiBold">10%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 30%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn kênh marketing chiến lược</p>
          <span class="b2 text-desc fw-semiBold">20%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 40%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn xây dựng kế hoạch marketing</p>
          <span class="b2 text-desc fw-semiBold">25%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 35%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn set-up phòng marketing</p>
          <span class="b2 text-desc fw-semiBold">30%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 20%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn ngân sách marketing</p>
          <span class="b2 text-desc fw-semiBold">10%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 25%"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-lg-block d-none w-40">
    <img
      class="w-full"
      src="/image/tu-van-maketing/img2.png"
      alt="Tư vấn marketing"
      title="Tư vấn marketing"
    />
  </div>
</section>

<!-- Why us -->
<section class="why py-5">
  <div class="why__bg position-relative w-full mb-5">
    <div class="why__content position-absolute w-lg-30 w-md-40 w-80">
      <h2 class="h1 fw-bold text-gray text-center mb-4">Why us?</h2>

      <div class="swiper swiper-why">
        <div class="swiper-wrapper">
          <div class="swiper-slide why__item p-5">
            <h3 class="h4 fw-bold text-gray mb-4">
              01. Marketing not advertising
            </h3>
            <p class="p3 fw-medium" style="color: #faf9f9">
              Marketing không chỉ đơn thuần là quảng cáo, chúng tôi chỉ sử dụng
              chúng như những công cụ để triển khai kế hoạch marketing của mình
            </p>
          </div>
          <div class="swiper-slide why__item p-5">
            <h3 class="h4 fw-bold text-gray mb-4">
              02. Marketing not advertising
            </h3>
            <p class="p3 fw-medium" style="color: #faf9f9">
              Marketing không chỉ đơn thuần là quảng cáo, chúng tôi chỉ sử dụng
              chúng như những công cụ để triển khai kế hoạch marketing của mình
            </p>
          </div>
          <div class="swiper-slide why__item p-5">
            <h3 class="h4 fw-bold text-gray mb-4">
              03. Marketing not advertising
            </h3>
            <p class="p3 fw-medium" style="color: #faf9f9">
              Marketing không chỉ đơn thuần là quảng cáo, chúng tôi chỉ sử dụng
              chúng như những công cụ để triển khai kế hoạch marketing của mình
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <div class="container d-flex flex-column align-items-center my-4">
    <img
      src="/image/tu-van-maketing/avatar1.png"
      alt="avatar"
      title="avatar"
      class="avatar rounded-circle"
    />
    <div class="d-flex align-items-start my-3">
      <sup class="h1 bold">“</sup>
      <p class="p3 fw-medium text-justify">
        Đa số các kết quả tìm kiếm, nội dung hiển thị trên internet về marketing
        hoặc giải pháp marketing sẽ hướng người dùng đến những công cụ quảng cáo
        như Facebook ads, Google ads, Email marketing hoặc các khoa học... dường
        như các đơn vị cung cấp giải pháp marketing không hề quan tâm đến sản
        phẩm, nội dung, hình ảnh thương hiệu hay kế hoạch marketing, cái mà họ
        hướng đến là khách hàng có sẵn sàng mở hầu bao hay không mà thôi
      </p>
    </div>

    <h4 class="p4 fw-bold">CEO NEYUL</h4>
  </div>
</section>

<!-- Time line -->
<section class="py-5 px-md-5 px-3">
  <!-- Time line for PC -->
  <div class="d-xl-block d-none">
    <div class="d-flex align-items-start justify-content-between">
      <div class="w-50">
        <div style="padding-bottom: 130px">
          <p class="p1 fw-semiBold">
            Cùng chúng tôi tìm ra cho doanh nghiệp của bạn
          </p>
          <h2 class="h1 fw-bold text-orange mt-4">GIẢI PHÁP</h2>
        </div>

        <div
          class="position-relative d-flex align-items-start pr-5 gap"
          style="gap: 20px"
        >
          <div
            class="position-relative w-50 timeline-bg d-flex flex-column align-items-center pt-3 pb-5 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              01. TIẾP NHẬN THÔNG TIN
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul gửi đội ngũ nhân sự đến gặp bạn để hiểu rõ thông tin và mục
              tiêu của bạn
            </p>

            <div
              class="w-full position-absolute d-flex align-items-center justify-content-center"
              style="top: -30px"
            >
              <span
                class="position-relative d-block timeline-dot bg-orange rounded-circle"
                style="z-index: 1"
              ></span>
            </div>
          </div>
          <div
            class="position-relative w-50 timeline-bg d-flex flex-column align-items-center pt-3 pb-5 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              02. Trao đổi & tư vấn
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul cung cấp chiến lược phát triển doanh nghiệp của bạn trong cả
              ngắn hạn và dài hạn
            </p>

            <div
              class="w-full position-absolute d-flex align-items-center justify-content-center"
              style="top: -30px"
            >
              <span
                class="position-relative d-block timeline-dot bg-orange rounded-circle"
                style="z-index: 1"
              ></span>
            </div>
          </div>

          <img
            class="position-absolute w-full"
            src="/image/tu-van-maketing/line.png"
            alt="time line"
            style="top: -26px; height: 3px; z-index: 0"
          />
        </div>
      </div>

      <div class="w-50">
        <div
          class="position-relative d-flex align-items-start gap"
          style="gap: 20px"
        >
          <div
            class="position-relative w-50 timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>

            <div
              class="w-full position-absolute d-flex align-items-center justify-content-center"
              style="bottom: -26px"
            >
              <span
                class="position-relative d-block timeline-dot bg-orange rounded-circle"
                style="z-index: 1"
              ></span>
            </div>
          </div>

          <div
            class="position-relative w-50 timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              04. TRIỂN KHAI BÁO CÁO
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Bạn có thể tự mình triển khai hoặc hợp tác cùng Neyul để triển
              khai từng phần hoặc toàn bộ dự án, tùy thuộc vào nhu cầu và khả
              năng của bạn. Chúng tôi cung cấp nhân sự trực tiếp làm việc và báo
              cáo hằng ngày cho bạn
            </p>

            <div
              class="w-full position-absolute d-flex align-items-center justify-content-center"
              style="bottom: -26px"
            >
              <span
                class="position-relative d-block timeline-dot bg-orange rounded-circle"
                style="z-index: 1"
              ></span>
            </div>
          </div>

          <img
            class="position-absolute w-full"
            src="/image/tu-van-maketing/line.png"
            alt="time line"
            style="bottom: -23px; height: 3px; z-index: 0"
          />
        </div>

        <div class="mt-3">
          <p class="p3 fw-semiBold pt-4">
            Dịch vụ bao gồm hậu mãi, tư vấn giải đáp tất cả các thắc mắc hợp lý
            nào của khách hàng
          </p>
          <button class="timeline-btn p4 fw-semiBold py-3 px-5">
            Xem thêm
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- timeline Tablet -->
  <div class="d-xl-none d-md-block d-none">
    <div>
      <h2 class="p2 fw-bold text-center">
        Cùng chúng tôi tìm ra <strong class="text-orange">GIẢI PHÁP</strong> cho
        doanh nghiệp của bạn
      </h2>
      <p class="b1 fw-semiBold text-center">
        Dịch vụ bao gồm hậu mãi, tư vấn giải đáp tất cả các thắc mắc hợp lý nào
        của khách hàng
      </p>
    </div>

    <div class="d-flex align-items-start gap" style="gap: 10px">
      <div class="timeline swiper swiper-timeline">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 260px; max-height: 260px"
          >
            <h4 class="p4 fw-bolder text-uppercase mb-2">
              01. TIẾP NHẬN THÔNG TIN
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul gửi đội ngũ nhân sự đến gặp bạn để hiểu rõ thông tin và mục
              tiêu của bạn
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 260px; max-height: 260px"
          >
            <h4 class="p4 fw-bolder text-uppercase mb-2">
              02. TRAO ĐỔI & TƯ VẤN
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 260px; max-height: 260px"
          >
            <h4 class="p4 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 260px; max-height: 260px"
          >
            <h4 class="p4 fw-bolder text-uppercase mb-2">
              04. TRIỂN KHAI BÁO CÁO
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Bạn có thể tự mình triển khai hoặc hợp tác cùng Neyul để triển
              khai từng phần hoặc toàn bộ dự án, tùy thuộc vào nhu cầu và khả
              năng của bạn. Chúng tôi cung cấp nhân sự trực tiệp làm việc và báo
              cáo hằng ngày cho bạn
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <!-- timline mobile -->
  <div class="d-md-none d-block">
    <div>
      <h2 class="p2 fw-bold text-center">
        Cùng chúng tôi tìm ra <strong class="text-orange">GIẢI PHÁP</strong> cho
        doanh nghiệp của bạn
      </h2>
      <p class="b1 fw-semiBold text-center">
        Dịch vụ bao gồm hậu mãi, tư vấn giải đáp tất cả các thắc mắc hợp lý nào
        của khách hàng
      </p>
    </div>
    <div class="d-flex flex-column my-4 gap" style="gap: 20px">
      <div
        class="timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
        style="min-height: 200px"
      >
        <h4 class="p3 fw-bolder text-uppercase mb-2">
          01. TIẾP NHẬN THÔNG TIN
        </h4>
        <p class="b1 fw-semiBold text-desc">
          Neyul gửi đội ngũ nhân sự đến gặp bạn để hiểu rõ thông tin và mục tiêu
          của bạn
        </p>
      </div>
      <div
        class="timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
        style="min-height: 200px"
      >
        <h4 class="p3 fw-bolder text-uppercase mb-2">02. TRAO ĐỔI & TƯ VẤN</h4>
        <p class="b1 fw-semiBold text-desc">
          Neyul cung cấp chiến lược phát triển doanh nghiệp của bạn trong cả
          ngắn hạn và dài hạn
        </p>
      </div>
      <div
        class="timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
        style="min-height: 200px"
      >
        <h4 class="p3 fw-bolder text-uppercase mb-2">
          03. LẬP KẾ HOẠCH MARLETING
        </h4>
        <p class="b1 fw-semiBold text-desc">
          Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả online
          và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh doanh hiệu
          quả và phù hợp nhất
        </p>
      </div>
      <div
        class="timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
        style="min-height: 200px"
      >
        <h4 class="p3 fw-bolder text-uppercase mb-2">04. TRIỂN KHAI BÁO CÁO</h4>
        <p class="b1 fw-semiBold text-desc">
          Bạn có thể tự mình triển khai hoặc hợp tác cùng Neyul để triển khai
          từng phần hoặc toàn bộ dự án, tùy thuộc vào nhu cầu và khả năng của
          bạn. Chúng tôi cung cấp nhân sự trực tiệp làm việc và báo cáo hằng
          ngày cho bạn
        </p>
      </div>
    </div>

    <div class="w-full mt-3">
      <button class="w-full timeline-btn p4 fw-semiBold py-3 px-5">
        Xem thêm
      </button>
    </div>
  </div>
</section>

<!-- contact -->
<section class="contact position-relative w-full my-5 ratio">
  <div class="contact__container w-lg-80 w-90 position-absolute">
    <div
      class="d-lg-none d-flex w-md-40 w-80 align-items-end justify-content-center mx-auto mb-5 gap"
      style="gap: 10px"
    >
      <img
        style="width: 80px; height: 80px"
        src="/image/tu-van-maketing/logoQR.png"
        alt="timline logo"
      />

      <p class="p3 fw-bold mb-2">Nurturing Expansion, Your Unstoppable Lead</p>
    </div>
    <div
      class="contact__content d-flex align-items-center justify-content-between gap"
      style="gap: 30px"
    >
      <div
        class="d-lg-block d-none w-40 bg-gray p-5"
        style="min-height: 400px; border-radius: 40px"
      >
        <div class="d-flex align-items-end mb-5 gap" style="gap: 10px">
          <img
            style="width: 80px; height: 80px"
            src="/image/tu-van-maketing/logoQR.png"
            alt="timline logo"
          />

          <p class="p3 fw-bold mb-2">
            Nurturing Expansion, Your Unstoppable Lead
          </p>
        </div>
        <div class="d-flex flex-column align-items-center">
          <img
            src="/image/tu-van-maketing/QRcode.png"
            alt="QR code"
            title="QR code"
            style="width: 100px; height: 100px"
          />

          <p class="b1 text-desc mt-4">Scan to connect us on Zalo.</p>
        </div>
      </div>
      <div class="w-lg-50 w-full px-4 py-5">
        <div>
          <h2 class="h4 fw-bold text-gray mb-2">Liên hệ với chúng tôi</h2>
          <p class="text-gray p4 fw-medium">
            Nói chúng tôi nghe bất cứ vấn đề nào của bạn
          </p>
        </div>
        <form>
          <input
            type="text"
            class="contact__inp w-full p4 text-gray py-1 mb-4"
            placeholder="Họ tên"
          />
          <input
            type="text"
            class="contact__inp w-full p4 text-gray py-1 mb-4"
            placeholder="Email hoặc số điện thoại"
          />
          <input
            type="text"
            class="contact__inp w-full p4 text-gray py-1 mb-4"
            placeholder="Doanh nghiệp của tôi cần tư vấn về hình ảnh thương hiệu"
          />

          <button class="w-md-fit w-full p4 px-5 py-2 bg-gray">Gửi</button>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Collapse -->
<section class="container collapse py-5">
  <div id="accordion">
    <div class="card mb-3">
      <div
        class="card-header d-flex align-items-start justify-content-between gap"
        id="headingOne"
        style="gap: 20px"
        data-toggle="collapse"
        data-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        <h5 class="p3 fw-medium mb-0 text-title cursor-pointer">
          Khách hàng sẽ nhận được gì sau khi sử dụng dịch vụ tư vấn marketing
          của Neyul
        </h5>

        <div class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-add"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z"
              clip-rule="evenodd"
            />
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-sub"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm3 10.5a.75.75 0 000-1.5H9a.75.75 0 000 1.5h6z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>

      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
        style="transition: all linear 0.2s"
      >
        <div class="card-body text-desc text-justify">
          Lorem ipsum, placeholder or dummy text used in typesetting and graphic
          design for previewing layouts. It features scrambled Latin text, which
          emphasizes the design over content of the layout. It is the standard
          placeholder text of the printing and publishing industries.
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div
        class="card-header d-flex align-items-start justify-content-between gap"
        id="headingTwo"
        style="gap: 20px"
        data-toggle="collapse"
        data-target="#collapseTwo"
        aria-expanded="false"
        aria-controls="collapseTwo"
      >
        <h5 class="p3 fw-medium mb-0 text-title cursor-pointer">
          Quá trình hẫu mãi, hỗ trợ sau khi sử dụng dịch vụ sẽ như thế nào
        </h5>

        <div class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-add"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z"
              clip-rule="evenodd"
            />
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-sub"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm3 10.5a.75.75 0 000-1.5H9a.75.75 0 000 1.5h6z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>

      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
        style="transition: all linear 0.2s"
      >
        <div class="card-body text-desc text-justify">
          Lorem ipsum, placeholder or dummy text used in typesetting and graphic
          design for previewing layouts. It features scrambled Latin text, which
          emphasizes the design over content of the layout. It is the standard
          placeholder text of the printing and publishing industries.
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div
        class="card-header d-flex align-items-start justify-content-between gap"
        id="headingThree"
        style="gap: 20px"
        data-toggle="collapse"
        data-target="#collapseThree"
        aria-expanded="false"
        aria-controls="collapseThree"
      >
        <h5 class="p3 fw-medium mb-0 text-title cursor-pointer">
          Neyul cam kết gì cho dịch vụ của mình
        </h5>

        <div class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-add"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z"
              clip-rule="evenodd"
            />
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-sub"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm3 10.5a.75.75 0 000-1.5H9a.75.75 0 000 1.5h6z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>

      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
        style="transition: all linear 0.2s"
      >
        <div class="card-body text-desc text-justify">
          Lorem ipsum, placeholder or dummy text used in typesetting and graphic
          design for previewing layouts. It features scrambled Latin text, which
          emphasizes the design over content of the layout. It is the standard
          placeholder text of the printing and publishing industries.
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div
        class="card-header d-flex align-items-start justify-content-between gap"
        id="headingFour"
        style="gap: 20px"
        data-toggle="collapse"
        data-target="#collapseFour"
        aria-expanded="false"
        aria-controls="collapseFour"
      >
        <h5 class="p3 fw-medium mb-0 text-title cursor-pointer">
          Ai nên sử dụng dịch vụ tư vấn marketing của chúng tôi
        </h5>

        <div class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-add"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z"
              clip-rule="evenodd"
            />
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-sub"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm3 10.5a.75.75 0 000-1.5H9a.75.75 0 000 1.5h6z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>

      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#accordion"
        style="transition: all linear 0.2s"
      >
        <div class="card-body text-desc text-justify">
          Lorem ipsum, placeholder or dummy text used in typesetting and graphic
          design for previewing layouts. It features scrambled Latin text, which
          emphasizes the design over content of the layout. It is the standard
          placeholder text of the printing and publishing industries.
        </div>
      </div>
    </div>
    <div class="card mb-3">
      <div
        class="card-header d-flex align-items-start justify-content-between gap"
        id="headingFive"
        style="gap: 20px"
        data-toggle="collapse"
        data-target="#collapseFive"
        aria-expanded="false"
        aria-controls="collapseFive"
      >
        <h5 class="p3 fw-medium mb-0 text-title cursor-pointer">
          Tại sao chỉ tư vấn mà không phải dịch vụ marketing tổng thể
        </h5>

        <div class="cursor-pointer">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-add"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zM12.75 9a.75.75 0 00-1.5 0v2.25H9a.75.75 0 000 1.5h2.25V15a.75.75 0 001.5 0v-2.25H15a.75.75 0 000-1.5h-2.25V9z"
              clip-rule="evenodd"
            />
          </svg>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            style="width: 24px; height: 24px"
            class="collapse__icon-sub"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm3 10.5a.75.75 0 000-1.5H9a.75.75 0 000 1.5h6z"
              clip-rule="evenodd"
            />
          </svg>
        </div>
      </div>

      <div
        id="collapseFive"
        class="collapse"
        aria-labelledby="headingFive"
        data-parent="#accordion"
        style="transition: all linear 0.2s"
      >
        <div class="card-body text-desc text-justify">
          Lorem ipsum, placeholder or dummy text used in typesetting and graphic
          design for previewing layouts. It features scrambled Latin text, which
          emphasizes the design over content of the layout. It is the standard
          placeholder text of the printing and publishing industries.
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Other Blog -->
<section class="px-3 py-5">
  <h2 class="p1 fw-bold text-center mb-4">Bài viết liên quan</h2>

  <div class="blog swiper swiper-blog pb-5">
    <div class="swiper-wrapper">
      <div class="card swiper-slide border-0 rounded-0" style="width: 18rem">
        <a href="#">
          <img
            src="/image/tu-van-maketing/blog1.png"
            class="card-img-top rounded-0"
            alt="blog"
          />
          <p class="b2 fw-medium text-desc my-2">tháng 7 năm 2023/marketing</p>
        </a>
        <div class="card-body px-0 py-1">
          <a href="#" class="card-title p3 fw-semiBold"
            >Tầm quan trọng của việc xác định kênh marketing chiến lược</a
          >
          <p class="card-text b1 text-desc fw-medium">
            Xác định hành vi người dùng của khách hàng để xác định kênh
            marketing chiến lược. Mỗi ngành nghề, mỗi sản phẩm dịch vụ khác nhau
            sẽ có một tệp khách hàng khác nhau.
          </p>
        </div>
      </div>
      <div class="card swiper-slide border-0 rounded-0" style="width: 18rem">
        <a href="#">
          <img
            src="/image/tu-van-maketing/blog2.png"
            class="card-img-top rounded-0"
            alt="blog"
          />
          <p class="b2 fw-medium text-desc my-2">tháng 7 năm 2023/marketing</p>
        </a>
        <div class="card-body px-0 py-1">
          <a href="#" class="card-title p3 fw-semiBold"
            >Một số vấn đề marketing căn bản mà doanh nghiệp thường hay mắc
            phải</a
          >
          <p class="card-text b1 text-desc fw-medium">
            Xác định hành vi người dùng của khách hàng để xác định kênh
            marketing chiến lược. Mỗi ngành nghề, mỗi sản phẩm dịch vụ khác nhau
            sẽ có một tệp khách hàng khác nhau.
          </p>
        </div>
      </div>
      <div class="card swiper-slide border-0 rounded-0" style="width: 18rem">
        <a href="#">
          <img
            src="/image/tu-van-maketing/blog3.png"
            class="card-img-top rounded-0"
            alt="blog"
          />
          <p class="b2 fw-medium text-desc my-2">tháng 7 năm 2023/marketing</p>
        </a>
        <div class="card-body px-0 py-1">
          <a href="#" class="card-title p3 fw-semiBold"
            >Tầm quan trọng của việc xác định kênh marketing chiến lược</a
          >
          <p class="card-text b1 text-desc fw-medium">
            Xác định hành vi người dùng của khách hàng để xác định kênh
            marketing chiến lược. Mỗi ngành nghề, mỗi sản phẩm dịch vụ khác nhau
            sẽ có một tệp khách hàng khác nhau.
          </p>
        </div>
      </div>
    </div>
    <div class="d-lg-none d-block swiper-pagination"></div>
  </div>
</section>
