<section
  class="d-flex flex-lg-row flex-column justify-content-between align-items-center py-5 px-md-5 px-3 gap-4"
>
  <div class="w-lg-40 w-full mb-lg-0 mb-3">
    <h1 class="h1 text-lg-left text-center fw-bold mb-2">
      <strong class="text-orange">Tư vấn</strong>
      marketing
    </h1>

    <p class="p2 text-justify fw-medium">
      Bạn đang bắt đầu triển khai marketing nhưng vẫn đang loay hoay chưa biết
      bắt đầu từ đâu? Và cái bạn đang cần là một bức tranh tổng quan cho quá
      trình marketing?
    </p>
  </div>

  <div class="w-lg-50 w-full">
    <img
      class="w-full object-cover ratio"
      src="/image/tu-van-maketing/img1.png"
      alt="Tư vấn marketing"
      title="Tư vấn marketing"
    />
  </div>
</section>

<section
  class="d-flex justify-content-between align-items-center py-5 px-md-5 px-3 gap-4"
>
  <div class="w-lg-50 w-full">
    <h2 class="p1 text-lg-left text-center fw-bold">
      Marketing là một quá trình cần sự đầu tư trong dài hạn và đặc biệt quan
      trọng ở những bước đi đầu tiên!!
    </h2>

    <p class="p4 text-desc text-lg-justify text-center fw-medium">
      Đa số doanh nghiệp vừa và nhỏ thường gặp các vấn đề như: Thiếu định hướng
      và không biết bắt đầu từ đâu, cũng như không nhận ra những hạng mục công
      việc quan trọng và tầm quan trọng của chúng như thế nào? Đặc biệt, nếu
      những bước đi đầu tiên không chính xác, có thể gây khó khăn không thể khắc
      phục hoặc gây thiệt hại nặng nề cho doanh nghiệp sau này.
    </p>

    <div class="d-lg-none d-block w-full my-4">
      <img
        class="w-full"
        src="/image/tu-van-maketing/img2-table.png"
        alt="Tư vấn marketing"
        title="Tư vấn marketing"
      />
    </div>

    <div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn phân tích thị trường</p>
          <span class="b2 text-desc fw-semiBold">5%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 20%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn tối ưu sản phẩm dịch vụ</p>
          <span class="b2 text-desc fw-semiBold">5%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 20%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">
            Tư vấn khách hàng và nhóm khách hàng mục tiêu
          </p>
          <span class="b2 text-desc fw-semiBold">5%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 20%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">
            Tư vấn phương pháp tiếp cận từng nhóm khách hàng
          </p>
          <span class="b2 text-desc fw-semiBold">10%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 30%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn kênh marketing chiến lược</p>
          <span class="b2 text-desc fw-semiBold">20%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 40%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn xây dựng kế hoạch marketing</p>
          <span class="b2 text-desc fw-semiBold">25%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 35%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn set-up phòng marketing</p>
          <span class="b2 text-desc fw-semiBold">30%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 20%"></div>
        </div>
      </div>
      <div class="mb-3">
        <div
          class="d-flex justify-content-between align-items-center mb-1 gap"
          style="--gap: 5px"
        >
          <p class="p4 fw-semiBold mb-0">Tư vấn ngân sách marketing</p>
          <span class="b2 text-desc fw-semiBold">10%</span>
        </div>
        <div
          class="progress"
          role="progressbar"
          aria-label="Basic example"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
          style="height: 6px"
        >
          <div class="progress-bar bg-orange" style="width: 25%"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-lg-block d-none w-40">
    <img
      class="w-full"
      src="/image/tu-van-maketing/img2.png"
      alt="Tư vấn marketing"
      title="Tư vấn marketing"
    />
  </div>
</section>

<!-- Why us -->
<section class="py-5">
  <div class="w-full">
    <img
      class="d-lg-block d-none w-full object-cover ratio"
      src="/image/tu-van-maketing/img3-PC.png"
      alt=""
    />
    <img
      class="d-lg-none d-md-block d-none w-full object-cover"
      src="/image/tu-van-maketing/img3-tablet.png"
      alt=""
    />
    <img
      class="d-md-none d-block w-full object-cover"
      src="/image/tu-van-maketing/img3-mobile.png"
      alt=""
    />
  </div>

  <div class="container d-flex flex-column align-items-center my-4">
    <img
      src="/image/tu-van-maketing/avatar1.png"
      alt="avatar"
      title="avatar"
      class="avatar rounded-circle"
    />
    <div class="d-flex align-items-start my-3">
      <sup class="h1 bold">“</sup>
      <p class="p3 fw-medium text-justify">
        Đa số các kết quả tìm kiếm, nội dung hiển thị trên internet về marketing
        hoặc giải pháp marketing sẽ hướng người dùng đến những công cụ quảng cáo
        như Facebook ads, Google ads, Email marketing hoặc các khoa học... dường
        như các đơn vị cung cấp giải pháp marketing không hề quan tâm đến sản
        phẩm, nội dung, hình ảnh thương hiệu hay kế hoạch marketing, cái mà họ
        hướng đến là khách hàng có sẵn sàng mở hầu bao hay không mà thôi
      </p>
    </div>

    <h4 class="p4 fw-bold">CEO NEYUL</h4>
  </div>
</section>

<!-- Time line -->
<section class="py-5 px-md-5 px-3">
  <!-- Time line for PC -->
  <div class="d-lg-block d-none">
    <div class="d-flex align-items-start justify-content-between">
      <div class="w-50">
        <div style="padding-bottom: 130px">
          <p class="p1 fw-semiBold">
            Cùng chúng tôi tìm ra cho doanh nghiệp của bạn
          </p>
          <h2 class="h1 fw-bold text-orange mt-4">GIẢI PHÁP</h2>
        </div>

        <div
          class="position-relative d-flex align-items-start pr-5 gap"
          style="gap: 20px"
        >
          <div
            class="position-relative w-50 timeline-bg d-flex flex-column align-items-center pt-3 pb-5 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              01. TIẾP NHẬN THÔNG TIN
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul gửi đội ngũ nhân sự đến gặp bạn để hiểu rõ thông tin và mục
              tiêu của bạn
            </p>

            <div
              class="w-full position-absolute d-flex align-items-center justify-content-center"
              style="top: -30px"
            >
              <span
                class="position-relative d-block timeline-dot bg-orange rounded-circle"
                style="z-index: 1"
              ></span>
            </div>
          </div>
          <div
            class="position-relative w-50 timeline-bg d-flex flex-column align-items-center pt-3 pb-5 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              02. Trao đổi & tư vấn
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul cung cấp chiến lược phát triển doanh nghiệp của bạn trong cả
              ngắn hạn và dài hạn
            </p>

            <div
              class="w-full position-absolute d-flex align-items-center justify-content-center"
              style="top: -30px"
            >
              <span
                class="position-relative d-block timeline-dot bg-orange rounded-circle"
                style="z-index: 1"
              ></span>
            </div>
          </div>

          <img
            class="position-absolute w-full"
            src="/image/tu-van-maketing/line.png"
            alt="time line"
            style="top: -26px; height: 3px; z-index: 0"
          />
        </div>
      </div>

      <div class="w-50">
        <div
          class="position-relative d-flex align-items-start gap"
          style="gap: 20px"
        >
          <div
            class="position-relative w-50 timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>

            <div
              class="w-full position-absolute d-flex align-items-center justify-content-center"
              style="bottom: -26px"
            >
              <span
                class="position-relative d-block timeline-dot bg-orange rounded-circle"
                style="z-index: 1"
              ></span>
            </div>
          </div>

          <div
            class="position-relative w-50 timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              04. TRIỂN KHAI BÁO CÁO
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Bạn có thể tự mình triển khai hoặc hợp tác cùng Neyul để triển
              khai từng phần hoặc toàn bộ dự án, tùy thuộc vào nhu cầu và khả
              năng của bạn. Chúng tôi cung cấp nhân sự trực tiếp làm việc và báo
              cáo hằng ngày cho bạn
            </p>

            <div
              class="w-full position-absolute d-flex align-items-center justify-content-center"
              style="bottom: -26px"
            >
              <span
                class="position-relative d-block timeline-dot bg-orange rounded-circle"
                style="z-index: 1"
              ></span>
            </div>
          </div>

          <img
            class="position-absolute w-full"
            src="/image/tu-van-maketing/line.png"
            alt="time line"
            style="bottom: -23px; height: 3px; z-index: 0"
          />
        </div>

        <div class="mt-3">
          <p class="p3 fw-semiBold pt-4">
            Dịch vụ bao gồm hậu mãi, tư vấn giải đáp tất cả các thắc mắc hợp lý
            nào của khách hàng
          </p>
          <button class="timeline-btn p4 fw-semiBold py-3 px-5">
            Xem thêm
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- timeline Tablet -->
  <div class="d-lg-none d-md-block d-none">
    <div>
      <h2 class="p2 fw-bold text-center">
        Cùng chúng tôi tìm ra <strong class="text-orange">GIẢI PHÁP</strong> cho
        doanh nghiệp của bạn
      </h2>
      <p class="b1 fw-semiBold text-center">
        Dịch vụ bao gồm hậu mãi, tư vấn giải đáp tất cả các thắc mắc hợp lý nào
        của khách hàng
      </p>
    </div>

    <div class="d-flex align-items-start gap" style="gap: 10px">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
          <div
            class="swiper-slide timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
            style="min-height: 200px; max-height: 200px"
          >
            <h4 class="p3 fw-bolder text-uppercase mb-2">
              03. LẬP KẾ HOẠCH MARLETING
            </h4>
            <p class="b1 fw-semiBold text-desc">
              Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả
              online và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh
              doanh hiệu quả và phù hợp nhất
            </p>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>

  <!-- timline mobile -->
  <div class="d-md-none d-block">
    <div>
      <h2 class="p2 fw-bold text-center">
        Cùng chúng tôi tìm ra <strong class="text-orange">GIẢI PHÁP</strong> cho
        doanh nghiệp của bạn
      </h2>
      <p class="b1 fw-semiBold text-center">
        Dịch vụ bao gồm hậu mãi, tư vấn giải đáp tất cả các thắc mắc hợp lý nào
        của khách hàng
      </p>
    </div>
    <div class="d-flex flex-column my-4 gap" style="gap: 20px">
      <div
        class="timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
        style="min-height: 200px; max-height: 200px"
      >
        <h4 class="p3 fw-bolder text-uppercase mb-2">
          03. LẬP KẾ HOẠCH MARLETING
        </h4>
        <p class="b1 fw-semiBold text-desc">
          Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả online
          và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh doanh hiệu
          quả và phù hợp nhất
        </p>
      </div>
      <div
        class="timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
        style="min-height: 200px; max-height: 200px"
      >
        <h4 class="p3 fw-bolder text-uppercase mb-2">
          03. LẬP KẾ HOẠCH MARLETING
        </h4>
        <p class="b1 fw-semiBold text-desc">
          Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả online
          và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh doanh hiệu
          quả và phù hợp nhất
        </p>
      </div>
      <div
        class="timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
        style="min-height: 200px; max-height: 200px"
      >
        <h4 class="p3 fw-bolder text-uppercase mb-2">
          03. LẬP KẾ HOẠCH MARLETING
        </h4>
        <p class="b1 fw-semiBold text-desc">
          Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả online
          và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh doanh hiệu
          quả và phù hợp nhất
        </p>
      </div>
      <div
        class="timeline-bg d-flex flex-column align-items-center pt-3 pb-1 px-4"
        style="min-height: 200px; max-height: 200px"
      >
        <h4 class="p3 fw-bolder text-uppercase mb-2">
          03. LẬP KẾ HOẠCH MARLETING
        </h4>
        <p class="b1 fw-semiBold text-desc">
          Neyul xây dựng kế hoạch tổng quan và chi tiết nhất, bao gồm cả online
          và offline. Cùng với đó, tư vấn miễn phí về kế hoạch kinh doanh hiệu
          quả và phù hợp nhất
        </p>
      </div>
    </div>

    <div class="w-full mt-3">
      <button class="w-full timeline-btn p4 fw-semiBold py-3 px-5">
        Xem thêm
      </button>
    </div>
  </div>
</section>