* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

button {
  border: none;
  outline: none; }

.w-full {
  width: 100%; }

.w-fit {
  width: fit-content; }

.w-10 {
  width: 10%; }

.w-20 {
  width: 20%; }

.w-30 {
  width: 30%; }

.w-40 {
  width: 40%; }

.w-50 {
  width: 50%; }

.w-60 {
  width: 60%; }

.w-70 {
  width: 70%; }

.w-80 {
  width: 80%; }

.w-90 {
  width: 90%; }

@media screen and (min-width: 992px) {
  .w-lg-10 {
    width: 10%; } }

@media screen and (min-width: 992px) {
  .w-lg-20 {
    width: 20%; } }

@media screen and (min-width: 992px) {
  .w-lg-30 {
    width: 30%; } }

@media screen and (min-width: 992px) {
  .w-lg-40 {
    width: 40%; } }

@media screen and (min-width: 992px) {
  .w-lg-50 {
    width: 50%; } }

@media screen and (min-width: 992px) {
  .w-lg-60 {
    width: 60%; } }

@media screen and (min-width: 992px) {
  .w-lg-70 {
    width: 70%; } }

@media screen and (min-width: 992px) {
  .w-lg-80 {
    width: 80%; } }

@media screen and (min-width: 992px) {
  .w-lg-90 {
    width: 90%; } }

@media screen and (min-width: 768px) {
  .w-md-10 {
    width: 10%; } }

@media screen and (min-width: 768px) {
  .w-md-20 {
    width: 20%; } }

@media screen and (min-width: 768px) {
  .w-md-30 {
    width: 30%; } }

@media screen and (min-width: 768px) {
  .w-md-40 {
    width: 40%; } }

@media screen and (min-width: 768px) {
  .w-md-50 {
    width: 50%; } }

@media screen and (min-width: 768px) {
  .w-md-60 {
    width: 60%; } }

@media screen and (min-width: 768px) {
  .w-md-70 {
    width: 70%; } }

@media screen and (min-width: 768px) {
  .w-md-80 {
    width: 80%; } }

@media screen and (min-width: 768px) {
  .w-md-90 {
    width: 90%; } }

@media screen and (min-width: 576px) {
  .w-sm-10 {
    width: 10%; } }

@media screen and (min-width: 576px) {
  .w-sm-20 {
    width: 20%; } }

@media screen and (min-width: 576px) {
  .w-sm-30 {
    width: 30%; } }

@media screen and (min-width: 576px) {
  .w-sm-40 {
    width: 40%; } }

@media screen and (min-width: 576px) {
  .w-sm-50 {
    width: 50%; } }

@media screen and (min-width: 576px) {
  .w-sm-60 {
    width: 60%; } }

@media screen and (min-width: 576px) {
  .w-sm-70 {
    width: 70%; } }

@media screen and (min-width: 576px) {
  .w-sm-80 {
    width: 80%; } }

@media screen and (min-width: 576px) {
  .w-sm-90 {
    width: 90%; } }

.padding-top {
  padding-top: 100px; }
  @media screen and (min-width: 992px) {
    .padding-top {
      padding-top: 160px; } }

.text-orange {
  color: #fd6829; }

.text-title {
  color: #1c1c22; }

.text-desc {
  color: #0112227f; }

.text-gray {
  color: #e9e9e9; }

.text-justify {
  text-align: justify !important; }

@media screen and (min-width: 992px) {
  .text-lg-justify {
    text-align: justify !important; } }

@media screen and (min-width: 768px) {
  .text-md-justify {
    text-align: justify !important; } }

@media screen and (min-width: 576px) {
  .text-sm-justify {
    text-align: justify !important; } }

.fw-bold {
  font-weight: 700; }

.fw-bolder {
  font-weight: 600; }

.fw-semiBold {
  font-weight: 500; }

.fw-medium {
  font-weight: 400; }

.fw-normal {
  font-weight: 300; }

.fw-light {
  font-weight: 200; }

.fw-lighter {
  font-weight: 100; }

.bg-orange {
  background-color: #fd6829; }

.bg-gray {
  background-color: #e9e9e9; }

.object-fit-cover {
  object-fit: cover;
  object-position: center; }

.object-fit-contain {
  object-fit: contain;
  object-position: center; }

.ratio {
  aspect-ratio: 16/9; }

.cursor-pointer {
  cursor: pointer; }

.gap {
  gap: var(--gap); }

.avatar {
  width: 64px;
  height: 64px; }
  @media screen and (min-width: 992px) {
    .avatar {
      width: 120px;
      height: 120px; } }
  @media screen and (min-width: 768px) {
    .avatar {
      width: 80px;
      height: 80px; } }

.swiper .swiper-pagination-bullet-active {
  background-color: #fd6829; }

.timeline-bg {
  background-color: #edeff0; }

.timeline-dot {
  width: 10px;
  height: 10px; }

.timeline-btn {
  background: #1c1c22;
  color: white; }

.timeline.swiper {
  width: 100%;
  overflow: visible; }

.swiper-pagination {
  transform: translateY(40px); }

.why .why__bg {
  height: 700px;
  background-image: url("/image/tu-van-maketing/bg1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.why .why__content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  @media screen and (min-width: 768px) {
    .why .why__content {
      left: 10%;
      transform: translateY(-50%); } }

.why .swiper-why.swiper {
  overflow-y: visible; }

.why .why__item {
  min-height: 400px;
  max-height: 400px;
  background-image: url("/image/tu-van-maketing/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px; }

.contact {
  height: 700px;
  background-image: url("/image/tu-van-maketing/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .contact .contact__container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .contact .contact__content {
    border-radius: 40px;
    overflow: hidden;
    backdrop-filter: grayscale(0.4) blur(4px) opacity(0.8); }
  .contact .contact__inp {
    font-style: italic;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #e9e9e9; }
    .contact .contact__inp::placeholder {
      color: #e9e9e9; }

.swiper-blog.swiper {
  overflow: visible; }

.collapse .card {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .collapse .card .card-header {
    background-color: white;
    border: none; }

.collapse .card-header[aria-expanded="true"] .collapse__icon-add {
  display: none; }

.collapse .card-header[aria-expanded="true"] .collapse__icon-sub {
  display: block; }

.collapse .card-header[aria-expanded="false"] .collapse__icon-add {
  display: block; }

.collapse .card-header[aria-expanded="false"] .collapse__icon-sub {
  display: none; }
