<div class="row">
    <div class="main-content">
        <div class="contact-top">
            <div class="row">
                <div class="col-12 col-lg-6 main-content-left">
                    <div class="contact-top-content">
                        <h1 class="main-title">Win - Win</h1>
                        <p class="main-sub-text main-text-gray">
                            Nếu doanh nghiệp và agency có được sự đồng điệu, họ sẽ tạo ra những chiến dịch để đời!</p>
                    </div>
                </div>
                <div class="col col-lg-6 main-content-right">
                    <img src="/image/contact-top.png" alt="contact-top.png" class="contact-content-img">
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('../partials/contactus.ejs') %>

    <div class="row">

        <div class="main-content">
            <div class="contact-top">
                <div class="row">
                    <div class="col-12 col-md-6 main-content-left">
                        <div class="contact-center-content">
                            <h1 class="main-title">Find us <br><span class="main-text-gray">on Social</span></h1>
                            <p class="main-sub-text">
                                Theo dõi chúng tôi trên các nền tảng mạng xã hội để cập nhật các hoạt động
                                cũng như kiến thức được làm mới hằng ngày.</p>
                        </div>
                    </div>
                    <div class="col col-md-6 main-content-right">
                        <img src="/image/contact-center.png" alt="contact-center.png" class="contact-content-img">
                    </div>
                </div>
            </div>
        </div>
    </div>