<div class="row">
    <div class="main-content">
        <div class="col">
            <div class="row">
                <div class="px-0 col-12 col-lg-6 d-flex">
                    <div class="m-auto text-center text-lg-left">
                        <h1 class="main-title">
                            Giải pháp <span class="main-text-orange">thực tế</span>
                        </h1>
                        <p class="main-sub-text main-text-gray">
                            Chúng tôi luôn hướng đến việc cung cấp các giải pháp và kiến thức thực tế nhất có thể
                        </p>
                        <button class="btn main-btn-black">
                            Xem thêm
                        </button>
                    </div>
                </div>
                <div class="px-0 col-lg-6 main-content-right">
                    <img src="/image/home-top.png" alt="home-top.png" class="w-100">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row main-bg-orange">
    <div class="main-content">
        <div class="col">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 text-left main-text-analysis-padding">
                    <div class="d-inline-block border-left main-border-w4 main-p-8-0-8-32">
                        <p class="main-text-white m-0 main-text-analysis-title">Dịch vụ</p>
                        <p class="main-text-white m-0 main-text-analysis">04</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 text-left main-text-analysis-padding">
                    <div class="d-inline-block border-left main-border-w4 main-p-8-0-8-32">
                        <p class="main-text-white m-0 main-text-analysis-title">Hoạt động (năm)</p>
                        <p class="main-text-white m-0 main-text-analysis">05</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 text-left main-text-analysis-padding">
                    <div class="d-inline-block border-left main-border-w4 main-p-8-0-8-32">
                        <p class="main-text-white m-0 main-text-analysis-title">Công cụ</p>
                        <p class="main-text-white m-0 main-text-analysis">23</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 text-left main-text-analysis-padding">
                    <div class="d-inline-block border-left main-border-w4 main-p-8-0-8-32">
                        <p class="main-text-white m-0 main-text-analysis-title">Khách hàng</p>
                        <p class="main-text-white m-0 main-text-analysis">32</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="main-content">
        <div class="col">
            <div class="row">
                <div class="px-0 col-12 text-center main-lg-mb-32">
                    <p class="main-title-2 ">Main Marketing B2C</p>
                    <p class="main-sub-text-2 main-text-gray">Kết hợp bán hàng và branding thương hiệu</p>
                </div>
            </div>
            <div class="row">
                <div class="px-0 col-12 px-0 col-lg-4">
                    <p class="main-title-2 main-mb-8">Sale</p>
                    <p class="main-sub-text-2 main-text-gray main-lg-mb-48">
                        Trong doanh nghiệp B2C, quá trình marketing luôn hướng đến mục
                        tiêu bán hàng và ưu tiên duy trì dòng tiền ổn định cho doanh nghiệp
                    </p>
                    <p class="main-title-2 main-mb-8">Branding</p>
                    <p class="main-sub-text-2 main-text-gray">
                        Cam kết đảm bảo sự phát triển bền vững cho doanh nghiệp
                    </p>
                </div>
                <div class="col-12 col-lg-4 home-center-center">
                    <div class="main-bg-bird">
                    </div>
                </div>
                <div class="px-0 col-12 px-0 col-lg-4">
                    <table class="main-mb-32">
                        <tr>
                            <td class="align-top main-pr-24">
                                <img src="image/icons/data-trending.svg" alt="data-trending.svg">
                            </td>
                            <td>
                                <p class="main-title-2 main-mb-8">Cơ sở lý thuyết nền tảng</p>
                                <p class="main-sub-text-2 main-text-gray">
                                    Định hướng marketing và kinh doanh
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table class="main-mb-32">
                        <tr>
                            <td class="align-top main-pr-24">
                                <img src="image/icons/group.svg" alt="group.svg">
                            </td>
                            <td>
                                <p class="main-title-2 main-mb-8">Thông điệp truyền thông</p>
                                <p class="main-sub-text-2 main-text-gray">
                                    Đảm bảo hình ảnh thương hiệu đi đúng hướng
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table class="main-mb-32">
                        <tr>
                            <td class="align-top main-pr-24">
                                <img src="image/icons/form.svg" alt="form.svg">
                            </td>
                            <td>
                                <p class="main-title-2 main-mb-8">Kế hoạch nội dung</p>
                                <p class="main-sub-text-2 main-text-gray">
                                    Cung cấp tài nguyên cho tất cả các hoạt động cho doanh nghiệp
                                </p>
                            </td>
                        </tr>
                    </table>
                    <table class="main-mb-32">
                        <tr>
                            <td class="align-top main-pr-24">
                                <img src="image/icons/chart.svg" alt="chart.svg">
                            </td>
                            <td>
                                <p class="main-title-2 main-mb-8">Kế hoạch marketing</p>
                                <p class="main-sub-text-2 main-text-gray">
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="main-content">
        <div class="col">
            <div class="row">
                <div class="px-0 col-12 text-center main-lg-mb-32">
                    <p class="main-title-2 ">Chúng tôi sẽ cung cấp những dịch vụ nào</p>
                    <p class="main-sub-text-2 main-text-gray">
                        Khách hàng có thể tham khảo sử dụng một hoặc nhiều dịch vụ của chúng tôi tùy thuốc vào nhu cầu
                        thực tế của doanh nghiệp
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 col-12 text-left">
                    <div class="d-inline-block main-border-w4 main-border-orange main-p-8-0-8-32 main-md-mb-40">
                        <p class="main-sub-text-2 main-text-gray">Dịch vụ</p>
                        <p class="main-sub-text-2 main-text-black">Tư vấn Marketing</p>
                        <p class="main-sub-text-3 main-text-gray">
                            Hỗ trợ doanh nghiệp khai thác tiềm năng tối đa, xây dựng chiến lược hiệu quả và đạt được
                            thành công...
                        </p>
                        <a class="main-sub-text-3 main-text-gray main-btn-showmore">Xem thêm...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 text-left">
                    <div class="d-inline-block main-border-w4 main-border-orange main-p-8-0-8-32 main-md-mb-40">
                        <p class="main-sub-text-2 main-text-gray">Dịch vụ</p>
                        <p class="main-sub-text-2 main-text-black">Lập kế hoạch Marketing</p>
                        <p class="main-sub-text-3 main-text-gray">
                            Cung cấp các giải pháp đột phá và chiến lược độc đáo, giúp tối ưu hóa hiệu quả quảng bá
                            thương hiệu...
                        </p>
                        <a class="main-sub-text-3 main-text-gray main-btn-showmore">Xem thêm...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 text-left">
                    <div class="d-inline-block main-border-w4 main-border-orange main-p-8-0-8-32 main-md-mb-40">
                        <p class="main-sub-text-2 main-text-gray">Dịch vụ</p>
                        <p class="main-sub-text-2 main-text-black">Triển khai Marketing</p>
                        <p class="main-sub-text-3 main-text-gray">
                            Thực hiện các chiến dịch quảng cáo đa dạng, tối ưu hóa hiệu quả kênh truyền thông, tiếp cận
                            đúng đối...
                        </p>
                        <a class="main-sub-text-3 main-text-gray main-btn-showmore">Xem thêm...</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-12 text-left">
                    <div class="d-inline-block main-border-w4 main-border-orange main-p-8-0-8-32 main-md-mb-40">
                        <p class="main-sub-text-2 main-text-gray">Dịch vụ</p>
                        <p class="main-sub-text-2 main-text-black">Thiết lập phòng Marketing</p>
                        <p class="main-sub-text-3 main-text-gray">
                            Xây dựng một bộ phận marketing hiệu quả, có kế hoạch chi tiết và cơ cấu tổ chức chuyên
                            nghiệp,..
                        </p>
                        <a class="main-sub-text-3 main-text-gray main-btn-showmore">Xem thêm...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="main-content">
        <div class="col">
            <div class="row">
                <div class="px-0 col-12 text-center main-lg-mb-32">
                    <p class="main-title-2 ">Dịch vụ của chúng tôi có thể phục vụ cho những doanh nghiệp nào?</p>
                    <p class="main-sub-text-2 main-text-gray">
                        Liên hệ với chúng tôi để được tư vấn miễn phí
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 pt-lg-5 main-px-lg-40">
                    <div class="d-inline-block main-bg-cian main-p-32-16 h-100">
                        <p class="main-title-4 main-text-white text-center">B2C Marketing</p>
                        <p class="main-sub-text-2 main-text-light-gray text-center">
                            Hãy tập trung vào phát triển sản phẩm và xây dựng hình ảnh thương hiệu đáng tin cậy,
                            thay vì
                            lãng phí tiền vào quảng cáo không hiệu quả
                        </p>
                        <ul class="main-px-16 main-mb-60">
                            <li class="main-sub-text-3 main-text-white">
                                <p>Product marketing</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Định hướng thương hiệu</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Phân tích thị trường</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Xác định kênh marketing</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Lập kế hoạch marketing</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Định hướng phát triển nội dung</p>
                            </li>
                        </ul>
                        <p class="text-center mb-0 mt-2 main-btn-bottom">
                            <button class="btn main-btn-white"><span class="main-sub-text-4">Xem thêm</span>
                            </button>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 pt-lg-0 pt-md-5 pt-sm-3 main-px-lg-40">
                    <div class="d-inline-block main-bg-cian main-p-32-16 h-100 w-100">
                        <p class="main-title-4 main-text-white text-center">B2B Marketing</p>
                        <p class="main-sub-text-2 main-text-light-gray text-center">
                            Chúng tôi cung cấp những giải pháp tiếp cận độc đáo và không thể tìm thấy ở bất kỳ đâu khác
                        </p>
                        <ul class="main-px-16 main-mb-60">
                            <li class="main-sub-text-3 main-text-white">
                                <p>Phân tích sơ đồ kênh</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Xác định các nhóm khách hàng</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Xây dựng chiến lược kinh doanh</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Xây dựng kế hoạch marketing</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Triển khai Marketing online và offline</p>
                            </li>
                        </ul>
                        <p class="text-center mb-0 mt-2 main-btn-bottom">
                            <button class="btn main-btn-white">
                                <span class="main-sub-text-4">Xem thêm</span>
                            </button>
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 pt-lg-5 pt-md-5 pt-sm-3 main-px-lg-40">
                    <div class="d-inline-block main-bg-cian main-p-32-16 h-100">
                        <p class="main-title-4 main-text-white text-center">B2C Marketing</p>
                        <p class="main-sub-text-2 main-text-light-gray text-center">
                            Bạn đã xây dựng quy trình marketing và hình ảnh truyền thông chuẩn mực, nhưng vẫn gặp khó
                            khăn trong việc mở rộng quy mô và phạm vi tác động
                        </p>
                        <ul class="main-px-16 main-mb-60">
                            <li class="main-sub-text-3 main-text-white">
                                <p>Phân tích nội tại doanh nghiệp</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Chuẩn hóa quy trình marketing và hình ảnh thương hiệu</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Xây dựng hình ảnh thương hiệu</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>PR thương hiệu</p>
                            </li>
                            <li class="main-sub-text-3 main-text-white">
                                <p>Thực hiện đồng bộ marketing offline song song marketing online</p>
                            </li>
                        </ul>
                        <p class="text-center mb-0 mt-2 main-btn-bottom">
                            <button class="btn main-btn-white"><span class="main-sub-text-4">Xem thêm</span>
                            </button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="main-content">
        <div class="row">
            <div class="main-content">
                <div class="contact-top">
                    <div class="row">
                        <div class="col-12 col-md-6 main-content-left">
                            <div class="contact-center-content">
                                <h1 class="main-title"><br><span class="main-text-gray"></span></h1>
                                <p class="main-sub-text">
                                </p>
                            </div>
                        </div>
                        <div class="col col-md-6 main-content-right">
                            <img src="/image/contact-center.png" alt="contact-center.png" class="contact-content-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="main-content">
        <div class="col">
            <div class="row">
                <div class="px-0 col-12 col-lg-6 d-flex">
                    <div class="m-auto text-center text-lg-left">
                        <h1 class="main-title">
                            Find us <span class="main-text-orange">on Social</span>
                        </h1>
                        <p class="main-sub-text main-text-gray">
                            Theo dõi chúng tôi trên các nền tảng mạng xã hội để cập nhật các hoạt động
                            cũng như kiến thức được làm mới hằng ngày.
                        </p>
                        <button class="btn main-btn-black">
                            Xem thêm
                        </button>
                    </div>
                </div>
                <div class="px-0 col-lg-6 main-content-right">
                    <img src="/image/home-top.png" alt="home-top.png" class="w-100">
                </div>
            </div>
        </div>
    </div>
</div>