$title: #1c1c22;
$desc: #0112227f;
$orange: #fd6829;
$gray: #e9e9e9;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
}

@mixin lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

// custome width

.w-full {
  width: 100%;
}

.w-fit {
  width: fit-content;
}

@for $i from 1 through 9 {
  .w-#{$i}0 {
    width: $i * 10%;
  }
}

@for $i from 1 through 9 {
  @include lg {
    .w-lg-#{$i}0 {
      width: $i * 10%;
    }
  }
}

@for $i from 1 through 9 {
  @include md {
    .w-md-#{$i}0 {
      width: $i * 10%;
    }
  }
}

@for $i from 1 through 9 {
  @include sm {
    .w-sm-#{$i}0 {
      width: $i * 10%;
    }
  }
}
// custome padding

.padding-top {
  padding-top: 100px;

  @include lg() {
    padding-top: 160px;
  }
}

// custome text
.text-orange {
  color: $orange;
}

.text-title {
  color: $title;
}

.text-desc {
  color: $desc;
}

.text-gray {
  color: $gray;
}

.text-justify {
  text-align: justify !important;
}

.text-lg-justify {
  @include lg() {
    text-align: justify !important;
  }
}

.text-md-justify {
  @include md() {
    text-align: justify !important;
  }
}

.text-sm-justify {
  @include sm() {
    text-align: justify !important;
  }
}

// customer font weight
.fw-bold {
  font-weight: 700;
}

.fw-bolder {
  font-weight: 600;
}

.fw-semiBold {
  font-weight: 500;
}

.fw-medium {
  font-weight: 400;
}

.fw-normal {
  font-weight: 300;
}

.fw-light {
  font-weight: 200;
}

.fw-lighter {
  font-weight: 100;
}

// custome background
.bg-orange {
  background-color: $orange;
}

.bg-gray {
  background-color: $gray;
}

// custome image
.object-fit-cover {
  object-fit: cover;
  object-position: center;
}

.object-fit-contain {
  object-fit: contain;
  object-position: center;
}

.ratio {
  aspect-ratio: 16/9;
}

// custome cursor
.cursor-pointer {
  cursor: pointer;
}

// custome flex
.gap {
  gap: var(--gap);
}

// avatar
.avatar {
  width: 64px;
  height: 64px;

  @include lg {
    width: 120px;
    height: 120px;
  }

  @include md {
    width: 80px;
    height: 80px;
  }
}

// cus swiper
.swiper {
  .swiper-pagination-bullet-active {
    background-color: $orange;
  }
}

// timeline
.timeline-bg {
  background-color: #edeff0;
}

.timeline-dot {
  width: 10px;
  height: 10px;
}

.timeline-btn {
  background: $title;
  color: white;
}

// cus swiper timeline
.timeline.swiper {
  width: 100%;
  overflow: visible;
}

.swiper-pagination {
  transform: translateY(40px);
}

// why us
.why {
  .why__bg {
    height: 700px;
    background-image: url("/image/tu-van-maketing/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .why__content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @include md {
      left: 10%;
      transform: translateY(-50%);
    }
  }

  .swiper-why.swiper {
    overflow-y: visible;
  }

  .why__item {
    min-height: 400px;
    max-height: 400px;
    background-image: url("/image/tu-van-maketing/bg2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
  }
}

// contact
.contact {
  height: 700px;
  background-image: url("/image/tu-van-maketing/bg2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .contact__container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contact__content {
    border-radius: 40px;
    overflow: hidden;
    backdrop-filter: grayscale(0.4) blur(4px) opacity(0.8);
  }

  .contact__inp {
    font-style: italic;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid $gray;

    &::placeholder {
      color: $gray;
    }
  }
}

.swiper-blog.swiper {
  overflow: visible;
}

// collapse
.collapse {
  .card {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    .card-header {
      background-color: white;
      border: none;
    }
  }

  .card-header[aria-expanded="true"] {
    .collapse__icon-add {
      display: none;
    }
    .collapse__icon-sub {
      display: block;
    }
  }

  .card-header[aria-expanded="false"] {
    .collapse__icon-add {
      display: block;
    }
    .collapse__icon-sub {
      display: none;
    }
  }
}
